h1{
    color: white;
    font-size: 30px;
    text-align: center;
}
.slideContainer{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
}
.slideImg {
    box-shadow: 5px 5px 8px black; 
    cursor: pointer;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
}
.slick-prev{
    left: -35px;
}
.slick-dots li button:before {
    color: rgb(255, 255, 255);
    font-size: 8px;
}
.slick-dots li.slick-active button:before {
    color: rgb(0, 0, 0);
}
.movieContainer {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}
.movie {
    display: flex;
    flex-direction: column;
    align-items: center
}
.release{
    color: white;
}